.page-index {
  color: white;
  display: flex;
  justify-content: center;
}
.page-index .container-index {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 60px 0;
  padding: 10px;
  border-radius: 10px;
}
.page-index button {
  height: 30px;
  min-width: 30px;
  color: white;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.page-index .current-page {
  background-color: #f11e22;
}
.page-index .other-pages {
  background-color: black;
}
.page-index .visible {
  visibility: visible;
}
.page-index .unvisible {
  visibility: hidden;
}
.page-index .icon {
  font-size: 30px;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}
