body {
  background-image: url("./assets/Nebuleuse.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Bebas Neue", cursive;
}
.loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
/* CHARACTERS */
.characters {
  /* background-color: rgba(0, 0, 0, 0.795); */
  /* min-height: calc(100vh - 80px); */
}
.container-characters {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* COMICS */
.comics {
  /* background-color: rgba(0, 0, 0, 0.795); */
}
.container-comics {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* DISPLAY CHARACTER */
.display-character {
  /* background-color: rgba(0, 0, 0, 0.795); */
}
.display-container1 {
  max-width: 1400px;
  margin: 0 auto;
}
.display-container2 {
  display: flex;
  padding: 100px 50px;
}
.display-col1 {
  width: 40%;
}
.display-col1 img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.display-col2 {
  width: 60%;
  height: 700px;
  background-color: black;
}
.display-infos {
  height: 35%;
  padding: 0 40px;
  padding-top: 40px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.display-infos h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f11e22;
}
.display-comics {
  height: 65%;
  display: flex;
  overflow-x: scroll;
}
.display-comics::-webkit-scrollbar {
  width: 0;
}
.display-comics .comic-element {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.comic-element div:first-child {
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  width: 95%;
  text-align: center;
  font-size: 20px;
}
.comic-element div:last-child {
  height: 80%;
  width: 95%;
}
.comic-element img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.display-character .star {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  cursor: pointer;
  font-size: 22px;
}
.display-character .star-fav {
  color: red;
}
/* MY FAVS */
.no-fav {
  text-align: center;
  color: white;
  height: 200px;
  padding-top: 100px;
  font-size: 26px;
}

.characters-block > div:first-child {
  /* background-color: rgba(0, 0, 0, 0.795); */
  color: #f11e22;
  font-size: 24px;
  padding-top: 40px;
}
.characters-block > div:first-child > div {
  margin: 0 auto;
  width: 1400px;
}
.comics-block {
  /* background-color: rgba(0, 0, 0, 0.795); */
}
.comics-block > div:first-child {
  color: #f11e22;
  font-size: 24px;
  padding-top: 40px;
}
.comics-block > div:first-child > div {
  margin: 0 auto;
  width: 1400px;
}
